# Environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd


# Streamlit local config (optional, but good to avoid credentials)
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db
